@import "imports";

$body-text-color: #413E3B;
$sidebar-color: #1B5C8C;
$sidebar-width: 325px;
$content-offset: $sidebar-width + 75px;
$nav-highlight-color: #FFAC31;
$responsive-width: 1000px;
$project-width: 700px;
$article-width: 700px;

$footer-bottom-height: 550px;

// Base

body {
  font-family: "Droid Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: $body-text-color;
}

p {
  line-height: 1.8;
  margin: 8px 0;
}

a {
  color: $sidebar-color;
}

.page-header {
  background-color: $sidebar-color;

  @media (min-width: $responsive-width) {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: $sidebar-width;
  }
}

.page-content {
  margin: 0 8px;
  @media (min-width: $responsive-width) {
	margin-left: $content-offset;
  }
}

.page-content-header {
  margin-bottom: 50px;

  @media (min-width: $responsive-width) {
	min-height: 200px;
	background-size: cover;
	background-position: center;
	margin-left: $sidebar-width;
  }
}

.page-content section {
  @media (min-width: $responsive-width) {
	max-width: 700px;
  }
}

.page-footer {
  @media (min-width: $responsive-width) {
	margin-left: $content-offset;
  }
  @media (min-height: $footer-bottom-height) and (min-width: $responsive-width) {
    margin-left: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: $sidebar-width;
    z-index: 1;
  }
}

.logo {
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: 50px auto;
  display: block;
  width: 120px;
  height: 120px;
  overflow: hidden;
  text-indent: -1000px;

  border: 3px solid #fff;
  background-color: #fff;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.4);
  border-radius: 100%;
}

.nav-primary {
  list-style: none;
  padding: 0;
  margin: 0;
  @media (max-width: $responsive-width - 1px) {
	padding: 1px 0;
  }
  @media (min-width: $responsive-width) {
	margin: 20px auto;
  }

  .nav-item {
	margin: 20px 40px;
	@media (min-width: $responsive-width) {
	  margin-left: 115px;	
	}
  }
  .nav-link {
    border-left: 3px solid transparent;
    color: white;
    display: block;
    padding: 0 10px;
    overflow: hidden;
    line-height: 50px;
    text-decoration: none;
    transition: all 0.25s;

    &:hover {
      text-decoration: none;
      border-color: $nav-highlight-color;
    }

    &.active {
      border-color: $nav-highlight-color;
      background-color: lighten($sidebar-color, 5%);
    }
  }
}


.social {
  text-align:center;
  padding: 10px 0;
}

ul.social-icons {
  margin: 20px 0;
  padding: 0;
  li {
    list-style: none;
    display: inline-block;
    margin: 10px;
  }
  li:first-child {
    margin-left: 0;
  }
  @media (max-width: $article-width - 1px) {
	img {
	  max-width: 36px;
	  max-height: 36px;
	}
  }
}

// Project

.logo {
  background-image: image-url("head.jpg");
}

.profile-name {
  font-family: Domine, Georgia, serif;
  font-size: 40px;
}

.profile-blurb {
  margin-top: 30px;
}

.article-lists, .project-lists {
  list-style:none;
  padding: 0;
  margin-top: 40px;
}

.article {
  padding: 35px 0 30px 0;
  line-height: 1.4;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  a {
    color: $body-text-color;
    text-decoration: none;
  }
}

.article-title {
  font-weight: bold;
  font-size: 18px;
  @media (min-width: $article-width) {
	font-size: 24px;
  }
}

.article-summary {
  font-size: 16px;
  @media (min-width: $article-width) {
	font-size: 18px;
  }
}

.article-publication {
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.4);
  @media (max-width: $article-width - 1px) {
	font-size: 14px;
  }
}

.article-image {
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
  @media (max-width: $article-width - 1px) {
	max-height: 90px;
  }
}


.project {
  margin-top: 30px;
  padding: 20px;

  &:hover {
    cursor: pointer;

    .project-image {
      opacity: 0.5;
    }
    .project-see-more {
      opacity: 0.8;
    }
  }
}

.project-image {
  width: 125px;
  height: 125px;
  transition: all 0.25s;
  @media (max-width: $project-width - 1px) {
	margin: 0 auto 20px auto;
	display: block;
  }
  @media (min-width: $project-width) {
	float: left;
  }
}

.project-see-more {
  z-index: 1;
  position: absolute;
  opacity: 0;
  transition: all 0.25s;
  @media (max-width: $project-width - 1px) {
	left: calc(50% - 62.5px);
  }
}

.project-details {
  @media (min-width: $project-width) {
	margin-left: 150px;
  }
}

.project-title {
  font-size: 24px;
  font-weight: bold;
}

.page-footer {
  font-size: 14px;
  margin-bottom: 30px;

  .social-icons {
    margin: 0;
  }
  .fa, .copyright {
    color: $body-text-color;
    @media (min-height: $footer-bottom-height) and (min-width: $responsive-width) {
      color: white;
    }
  }
  .fa {
    font-size: 24px;
  }
  @media (min-height: $footer-bottom-height) {
    text-align: center;
  }
}

section.blog {
  min-height: 1000px;
}

@media (max-width: $responsive-width - 1px) {
  .page-header h1 {
	display: none;
  }
}

.profile-photo.logo {
  @media (min-width: 500px) and (max-width: $responsive-width - 1px) {
	float: left;
	margin-right: 40px;
  }
  @media (min-width: $responsive-width) {
	display: none;
  }
}

// Cosmetic

.project-munirent {
  background-color: #E3EAF5;
}

.project-1000tools {
  background-color: #F5F5DC;
}

.project-sendtocar {
  background-color: #DEFFE9;
}

@media (min-width: $responsive-width) {
  .page-content-header.about {
	/* Photo by Carli Jean
	 * https://unsplash.com/carlijeanmiller
	 */
	background-image: image-url("coffee-swirl.jpg");
  }

  .page-content-header.projects {
	/* Photo by Vita Vilcina
	 * https://unsplash.com/vivivi
	 */
	background-image: image-url("brooklyn-bridge.jpg");
  }

  .page-content-header.blog {
	/* Photo by Alejandro Escamilla
	 * https://unsplash.com/alejandroescamilla
	 */
	background-image: image-url("book.jpg");
  }
}

.signature {
  font-family: Domine, Georgia, serif;
  margin: 40px;
  font-size: 20px;
}

