%p
  I've always enjoyed creating computer solutions to solve all kinds of
  challenges. Here are some articles I've written about some of those experiences.

%ul.article-lists
  - data.articles.reverse.each do |article|
    %li.article
      %a{:href => track_link(article.url)}
        - if article.image_url
          %img.article-image{src: article.image_url}
        .article-title= article.title
        .article-summary= article.summary
        .article-publication Published on #{date_short article.publication_date}

