/ Contact form in Modal
#myModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel
      %i.icon-mail
      Contact Me
  .modal-body
    %script{:src => "http://form.jotform.us/jsform/50173976868168", :type => "text/javascript"}

