.page-header
  %h1
    = link_to "Julien Vanier", "/", :class => "logo"
  %ul.nav-primary
    %li.nav-item
      = link_to "Blog", "/", :class => "nav-link"
    %li.nav-item
      = link_to "My projects", "/work.html", :class => "nav-link"
    %li.nav-item
      = link_to "About me", "/about.html", :class => "nav-link"

