---
title: "My projects"
---
= partial 'header'

.page-content-header.projects
.page-content
  %section
    %h2= data.page.title
    %p Here are some interesting projects I've worked on over the years.
    %ul.project-lists
      - data.projects.each do |project|
        = partial 'project', :object => project

= partial 'footer'
